In [ ]:
#how to create data base:


DDL:create, alter,drop,truncate,rename
create:used to create a new database
objects like tables,views,schemas.

create table table_name(
    column1 datatype constaints,
    column2 datatype constraints,
    ......
    );
  
 Create table employees(
     employeeID INT Primary key,
     firstName VARCHAR(50) NOT NULL,
     LastName VARCHAR(50) NOT NULL,
     HireDATE DATE,
     Salary DECIMAL(1009)
     );
     
2.ALTER :
Alter command modifies the structure of an exisitng database object,
such
ALTER TABLE table_name
ADD column_name datatype contrints;

ALTER TABLE table_name
DROP COLUMN column_name;

ALTER TABLE Employees
ADD email VARCHAR(100);

AALTER TABLE Emplyees
DROP COLUMN salary;



3.DROP:Drop command removes an existing databases object,
such as table or view,along with all of its data.

4.TRUNCATE:Trauncate command removes all rows from a table but does not remove table stucture.
    
TRUNCATE TABLE employees;