In [ ]:
# SQL:
#how to create data base:
steps:
1.choose a dbms
2.connect to the server
3.create a new database
4.once the database is created you can use statament or crate
tables in the database.
5.Create tables and insert data.













    
# Database:collection of the data is called database.
# DBMS: A software application to manage our data.


# User ----------------> Database
#   software application
   
# Database:
    
# Relational(use table to store data)  Non-Realational(data is not store table)
#                                         MongoDb
# MySQL
# Oracle


# Why SQL:We need a language to intract with databases.
# So we use SQL to intract with DB. do some CRUD operations on the data.

Uses:
# Retrieving data:Extracting data from databases.
# Manipulationg: Adding,modifying,or removing.
# Defining:Creating and adjusting the structure of a database, including tables
# views and indexes.
# Controlling:Manging the database access.


# Tyoes of SQL Commands:
# 1.Data Query Language(DQL)
# 2.Data Manipulation Language(DML)
# 3.Data Defination language(DDL)
# 4.Data Control Language(DCL)
# 5.Transaction control Langugage(TCL)
# 1.DQL: Select command:

# SELECT column1,column2:
# FROM table_name
# WHERE condition;

# SELECT name,age
# From employees
# where age>30;

# Order by:Sort the result set in asending and descending order.
# SELECT name,age
# From employees
# ORDER BY age DESC:
    
# Group by:
# SELECT department
# FROM employees
# GROUP by department
# where count>5;


DML:Insert,update, Delete
Insert: command is used to add new rows to a table.

INSERT INTO table_name(column1,column2)
VALUES(value1,value2)


Update:modifying existing data.
UPDATE table_name
SET Column1 = value1,column2 = value2,.....
WHERE condition;

UPDATE employees
SET age = 31
WHERE name = "John"


DELETE:remove existing Records form a table.

DELETE FROM table_name
WHERE condition;


DELETE FROM employees
WHERE name = "John"