In [ ]:
1. Numeric Data Types
INT: Integer value. Commonly used for whole numbers. Variants include:
TINYINT: 1 byte, range from -128 to 127 or 0 to 255 (unsigned).
SMALLINT: 2 bytes, range from -32,768 to 32,767 or 0 to 65,535 (unsigned).
MEDIUMINT: 3 bytes, range from -8,388,608 to 8,388,607 or 0 to 16,777,215 (unsigned).
BIGINT: 8 bytes, larger integer range.
FLOAT: Floating-point number. Used for approximate values.
DOUBLE: Double-precision floating-point number for more precision.
DECIMAL(M, D): Fixed-point number. Useful for precise calculations (like currency). M is the total number of digits, and D is the number of digits after the decimal point.
2. String Data Types
CHAR(M): Fixed-length string. If the string is shorter than M, it is padded with spaces.
VARCHAR(M): Variable-length string. Useful when string lengths vary significantly.
TEXT: Used for large text fields (up to 65,535 characters).
BLOB: Binary Large Object. Stores binary data, such as images or multimedia files.
ENUM: A string object with a value chosen from a list of allowed values. Useful for predefined categories.
SET: A string object that can have zero or more values, each of which must be chosen from a predefined list.
3. Date and Time Data Types
DATE: Stores date values (YYYY-MM-DD).
TIME: Stores time values (HH:MM
).
DATETIME: Combines date and time (YYYY-MM-DD HH:MM
).
TIMESTAMP: Similar to DATETIME but also includes time zone information. It updates automatically when a record is modified.
YEAR: Stores a year (in either 2-digit or 4-digit format).




Numeric Data types:
Integer/INT:
store whole number without decimals.
INT(10),

CREATE TABLE EMPLOYEE(
    employee_id INT Primary KEY,
    salary INT
    );
    
SMALLINT:
CREATE TABLE products(
    products_id SMALLINT,
    quantity SMALLINT
    );
    
BIGINT:
Store large whole numbers;

create table large_numbers(
    transaction_id BIGINT
    );
Decimal : p  s

 Decimal(10,2)total 10digits with 2 digits after the decimal
 CREATE TABLE products (
     price DECIMAL(10,2)
     );
     
FLOAT:
CREATE TABLE measurement(
    height FLOAT
    );
2.character/String data types:
these data types store text values.
CHAR(n):
CHAR(5): Will store strings of exactly 5 character.

VARCHAR(n):
VARCHAR(50):
Store variable length with a maximum length of (n)
can store a strings of up to n.

CREATE TABLE users(
    username VARCHAR(59)
    );
TEXT:
Store large amounts of text data.
text can store a pragraph,description.
CREATE TABLE blog(
    content TEXT
    );
    
    
    
3.DATE AND TIME DATA TYPES:
  DATE:YYYY-MM-DD
    CREATE TABLE employees(
        birthday_data DATE
        );
        
TIME:
HH:MM:SS
CREATE TABLE events(
    event_time TIME
    );

DATETIME:
YYYY-MM-DD HH:MM:SS
CREATE TABLE events(
    event_time DATETIME
    );

4.Boolean data type:
TRUE or FALSE
CREATE TABLE users(
    is_active BOOLEAN
    );
    
 5.BINARY DATA:
Binary(n):
    stores fixed lenth binary data.

CREATE TABLE Encryption_key(
    is_active BINARY(14)
    );
    
    
VARBINARY(n):
maximum length of n


BLOB():
create table images(
    image_data BLOB
    );

CONSTRAINT:
    
UNIQUE CONSTRIANT:
    
CREATE TABLE users(
    user_id INT Primary KEY,
    email VARCHAR(28) UNIQUE
    );
    
NOT NULL:
create table users(
    user_id INT PRIMARY KEY,
    username VARCHAR(49) NOT_NULL
    );
    
Check constriant:
condition will be satistied for each row.
create table employee(
    employee_id INT PRIMARY KEY,
    Salary INT(124) CHECK(salary>0)
    );

Uniquness
not null


foreign key:
create table departments(
    department_id int primary key
    department_name varchar(54) notnull
    );
create table employees(
    employee_id  int primary_key
    first_name varchar(50)
    last_name varchar(40),
    department_id INT,
    FOREIGN KEY (department_id) Reference department(deparment_id))
    
this ensure that any value in the department_id column of the employees table must exist in the departments table.